<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SEKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SEKitFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SoundRecorder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>786941EE1859AF3500EA2D98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7869420F1859AF3500EA2D98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>787341181907FD1D004EEEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78734173190800CD004EEEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78734177190800E3004EEEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7873417F190801FD004EEEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7873419019080291004EEEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7873419D19080292004EEEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>787341F619080694004EEEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7873420319080694004EEEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7873421C190806C5004EEEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78734229190806C6004EEEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78734242190806EC004EEEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7873424F190806EC004EEEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>787342A5190808FE004EEEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
